*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #ff05ea;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.sobre-imagem{
    width: 25%;
}

.sobre{
    background-image: linear-gradient(#ff05ea,#dd68ca);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.sobre-div-conteudo{
    width: 35%;
}


.sobre-titulo{
    padding: 24px 0;
}

.beauty{
    padding: 24px 0;
}
.beauty-imagem{
    width: 120px;
}

.beauty-icone{
    width: 24px;
    padding: 4px 8px;
}

.beauty-div{
    text-align: center;
    padding: 16px 0;
}

.beauty-titulo{
    text-align: center;
    padding: 50px 0;
}

.beauty-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: #dd68ca;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}
